 @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;

}
body{
    height: 100%;
    width: 100%;
}
#landing-page{
    min-height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1678999065613-c00b60cbfd04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#navb {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -10px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 1;
  }
  #navb a:hover {
    background-color: #ddd;
    color: black;
  }
 nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.fa{
    display: none;
}
nav img{
    width:50px;
}
#navbars ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
}

#navbars ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
#navbars ul li a::after{
    content: "";
    background: rgb(241, 243, 237);
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom:0;
    transition: 0.5s;
}
#navbars ul li a:hover::after{
    width: 100%;
}
.text-box{
    color: aliceblue;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box img {
    height: 300px;
    width: 280px;
    position: relative;
    left:-300px;
    top: 100px;
    border-radius: 100px;
}
p{
    margin-top: 10px;
}
.name{
    font-size: 50px;
    color: aquamarine;
}
.social-media{
    display: inline-block;
    position:relative;
    right:550px;
    top:300px;
    height: 30px;
    width: 250px;
}
.social-media i{
    margin: 10px 12px;
}
.course{
    text-align: center;
    width: 80%;
    margin: 3% auto;
}
#aboutme{
    /* background-image: url("https://unsplash.com/photos/xt79nQxc9Q0"); */
    height:90vh;
    width: 100%;
    background-color: bisque;
    
}
#explain-me{
    width: 55%;
}
#part{
    position: relative;
    right:22%;
}
#aboutimg{
    height: 450px;
    width:30%;
    position: relative;
    left: 62%;
    top:-350px;
    z-index: 0;
}

#contact-me{
    height: 70vh;
    width: 100%;
    background-color: aliceblue;
    /* border: 1px solid red; */
}
#contact-me form #contact-image{
    height:430px;
    width:30%;
    position:relative;
    left:60%;
    top: -320px;;
}
#details #contact-details{
    margin-top: 30px;
    padding: 30px;
    background-color: aquamarine;
}

 @media screen and (min-width:0px) and (max-width:500px) { 
    .text-box h2{
        font-size: 10px;
        margin-left: 120px;
        margin-top: 30px;

    }
    
    .text-box h2 .name{
        font-size: 18px;
    
    }
    .text-box  p{
        font-size: 10px;
        margin-left: 120px;
        margin-top: 30px;
    }
    .text-box img{
        height: 200px;
        width: 200px;
        margin-left: 420px;
    }
    .fa{
        padding: 15px;
        display: block;
        color: white;
        cursor: pointer;
    }
    .navbar ul li{
    display: block;
    padding: 15px ;
}
#navbar{
    position: absolute;
    top:0;
    right:0;
    background-color: blue;
    height: 100vh;
    width: 200px;
    z-index: 2;
    align-items: center;


}


} 
